<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
    <% @adwords_excel_data.each do |value| %>
      <Row>
        <Cell><Data ss:Type="String"><%= value[:campaign] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= value[:ad_group] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= value[:keyword] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= value[:match_type] %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

